.app {
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
}

.main {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 16px 24px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 640px) {
  .main {
    padding: 0 24px 24px;
  }
}

@media (min-width: 1024px) {
  .app {
    padding: 40px;
    padding-bottom: 80px;
  }

  .main {
    max-width: 520px;
  }
}
